<section class="container" style="margin-top: 1.25%"></section>
    <section style="margin-top: 2em; margin-bottom: 2em;">
    <main class="accountDetails">
        <div class="container" style="background: #e1e8ed; border: 1px solid #595959; border-radius: 18px; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
            <div style="display: flex; flex-direction: row; float: left; flex-wrap: wrap; align-items: center; width: 30rem; margin-top: 1%; margin-bottom: 1%; justify-content: space-evenly; padding: 0 3rem 0 0;">
                <i
                    class="bi-person-circle"
                    style="font-size: 700%; margin: 0%; padding-left: .8rem;"></i>
                <label
                    class="header"
                    style="padding-left: .8rem; font-size: 250%"
                >{{UserAndFeedData.username}}</label>
            </div>
            <div
                style="display: flex; flex-direction: row; float: left; flex-wrap: wrap; margin-top: 2%; justify-content: space-around; height: 2rem; width: 30rem; padding: 0 3.5rem 0 0;">
                <h4 style="margin-left: 1.5rem;">FEEDS</h4>
                <h4 style="margin-left: 1.5rem;">FOLLOWERS</h4>
                <h4 style="margin-left: 1.5rem;">FOLLOWING</h4>
            </div>
            <div
                style="display: flex; flex-direction: row; justify-content:space-between; margin-top: -6%; margin-left: 33rem; width: 25rem; padding: 0 0 0 3.2rem;">
                <h2 style="margin-left: 1.5rem;">{{profileCreatedCount}}</h2>
                <h2 style="margin-left: 4rem;">{{profileFollowersCount}}</h2>
                <h2 style="margin-left: 4rem;">{{profileFollowedCount}}</h2>
            </div>
        </div>
        <div
            class="container"
            style="background: #e1e8ed; margin-top: 0.75%; text-align: center; font-size: 32.5px; border: 1px solid #595959;"
        >
            Feeds
        </div>
        <section class="feeds" style="margin-top: 3%">
            <ul>
                    {{#each profileFollowedFeeds}}
                    <div>
                        <ol>
                            <div
                                class="card"
                                style="width: 20%; float: left; margin-left: 7%"
                            >
                                <li
                                    class="list-group-item"
                                    style="background: #ccd6dd"
                                >
                            <h5 style="float: left"><a
                                    href="/feed/{{this.id}}"
                                >{{this.feed.title}}</a> by <a href="/profile/{{this.feed.user.id}}">{{this.feed.user.username}}</a></h5>
                            {{#if ../loggedIn}}
                                <button
                                    style="float: right"
                                    class="follow-feed-button"
                                    data-feed-id="{{this.feed.id}}"
                                    data-logged-in-user-id="{{../loggedInUserData.id}}"
                                    data-user-created-id="{{this.feed.user_id}}"
                                >+</button>
                            {{/if}}
                                </li>
                                <ul class="list-group list-group-flush">
                                    {{#each this.feed.tweetFeed}}
                                        <div class="tw-block-parent tw-background">
                                            <div class="timeline-TweetList-tweet">
                                                <div class="timeline-Tweet">
                                                <div class="timeline-Tweet-brand">
                                                    <div class="Icon Icon--twitter"></div>
                                                </div>
                                                <div class="timeline-Tweet-author">
                                                    <a class="TweetAuthor-link" href="https://twitter.com/{{this.user.screen_name}}" target="_blank">
                                                    <div class="TweetAuthor"><span class="TweetAuthor-avatar"> 
                                                        <div class="Avatar"><img src="{{this.user.profile_image_url_https}}" alt="{{this.user.name}}" class="tw-profile-img"></div></span><span class="TweetAuthor-name">{{this.user.name}}</span><span class="Icon Icon--verified"></span><span class="TweetAuthor-screenName">{{at_sign_format_twitter this.user.screen_name}}</span></div>
                                                    </a>
                                                </div>
                                                <div class="timeline-Tweet-text">{{this.text}}</div>
                                                <div class="timeline-Tweet-metadata"><span class="timeline-Tweet-timestamp">{{format_time_twitter this.created_at}}</span></div>
                                                <ul class="timeline-Tweet-actions">
                                                    <li class="timeline-Tweet-action"><a class="Icon Icon--heart" href="#"></a></li>
                                                    <li class="timeline-Tweet-action"><a class="Icon Icon--share" href="#"></a></li>
                                                </ul>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </ul>
                                
                            </div>
                        </ol>
                    </div>
                {{/each}}
                {{#each UserAndFeedData.feeds}}
                    <div>
                        <ol>
                            <div
                                class="card"
                                style="width: 20%; float: left; margin-left: 7%"
                            >
                                <li
                                    class="list-group-item"
                                    style="background: #ccd6dd"
                                >
                            <h5 style="float: left"><a
                                    href="/feed/{{this.id}}"
                                >{{this.title}}</a> by <a href="/profile/{{this.user.id}}">{{this.user.username}}</a></h5>
                            {{#if ../loggedIn}}
                                <button
                                    style="float: right"
                                    class="follow-feed-button"
                                    data-feed-id="{{this.id}}"
                                    data-logged-in-user-id="{{../loggedInUserData.id}}"
                                    data-user-created-id="{{this.user_id}}"
                                >+</button>
                            {{/if}}
                                </li>
                                <ul class="list-group list-group-flush">
                                    {{#each this.tweetFeed}}
                                        <div class="tw-block-parent tw-background">
                                            <div class="timeline-TweetList-tweet">
                                                <div class="timeline-Tweet">
                                                <div class="timeline-Tweet-brand">
                                                    <div class="Icon Icon--twitter"></div>
                                                </div>
                                                <div class="timeline-Tweet-author">
                                                    <a class="TweetAuthor-link" href="https://twitter.com/{{this.user.screen_name}}" target="_blank">
                                                    <div class="TweetAuthor"><span class="TweetAuthor-avatar"> 
                                                        <div class="Avatar"><img src="{{this.user.profile_image_url_https}}" alt="{{this.user.name}}" class="tw-profile-img"></div></span><span class="TweetAuthor-name">{{this.user.name}}</span><span class="Icon Icon--verified"></span><span class="TweetAuthor-screenName">{{at_sign_format_twitter this.user.screen_name}}</span></div>
                                                    </a>
                                                </div>
                                                <div class="timeline-Tweet-text">{{this.text}}</div>
                                                <div class="timeline-Tweet-metadata"><span class="timeline-Tweet-timestamp">{{format_time_twitter this.created_at}}</span></div>
                                                <ul class="timeline-Tweet-actions">
                                                    <li class="timeline-Tweet-action"><a class="Icon Icon--heart" href="#"></a></li>
                                                    <li class="timeline-Tweet-action"><a class="Icon Icon--share" href="#"></a></li>
                                                </ul>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </ul>
                            </div>
                        </ol>
                    </div>
                {{/each}}
                <div>
                    <button class="new-feed-button"
                        style="background: #ccd6dd; font-size: 2em; width: 10%; margin-left: 8%; margin-top: 5%;"
                    >+</button>
                </div>
            </ul>
        </section>
    </main>
<!-- Modal -->
<div class="modal fade" id="createFeedModal" tabindex="-1" aria-labelledby="createFeedLabel" aria-modal="true"
    role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createFeedLabel">Create Feed</h5>
                <button type="button" class="close" aria-label="Close" onclick="closeModal()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="feedTitle" title="Enter a feed title here">Enter a Feed Title</label> <br>
                <input type="text" class="form-control" id="feedTitle" placeholder="Fun Programming Challenges" required> <br>
                <button type="button" style="background: #e1e8ed;" class="btn btn-secondary text-black add-feed-button" title="Click 'Add Feed' to add multiple Twitter Feed Sources at once">Add Feed</button><br>
                <div class="feed-entries" title="Enter the '@twitterhandlename' here"></div><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary submit-feed" data-logged-in-user-id="{{loggedInUserData.id}}">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>
<div class="logged-in-user-id d-none">{{loggedInUserData.id}}</div>
<div class="current-profile-id d-none">{{UserAndFeedData.id}}</div>
<script src="../js/profile.js"></script>